<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>80x80-(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1610},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>baifenbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1808},{100,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,22}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>beijing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1040},{416,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,415}}</string>
                <key>sourceSize</key>
                <string>{416,415}</string>
            </dict>
            <key>beijing6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,782}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,782}}</string>
                <key>sourceSize</key>
                <string>{446,782}</string>
            </dict>
            <key>dangqiandefen.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1551},{327,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,119}}</string>
                <key>sourceSize</key>
                <string>{327,119}</string>
            </dict>
            <key>daojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1717},{113,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,167}}</string>
                <key>sourceSize</key>
                <string>{113,167}</string>
            </dict>
            <key>dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,1457},{303,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,82}}</string>
                <key>sourceSize</key>
                <string>{303,82}</string>
            </dict>
            <key>fenxiangchoujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1610},{196,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,99}}</string>
                <key>sourceSize</key>
                <string>{196,99}</string>
            </dict>
            <key>gamebiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,617},{420,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,421}}</string>
                <key>sourceSize</key>
                <string>{420,421}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{447,755}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,755}}</string>
                <key>sourceSize</key>
                <string>{447,755}</string>
            </dict>
            <key>guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{446,653}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,653}}</string>
                <key>sourceSize</key>
                <string>{446,653}</string>
            </dict>
            <key>huang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1662},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>huang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1762},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>huang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,1696},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>huang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,1762},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>huang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1762},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>jewel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1711},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>jewel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1762},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>jewel3.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1711},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>jewel4.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1762},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>jewel5.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1711},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1423},{370,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,126}}</string>
                <key>sourceSize</key>
                <string>{370,126}</string>
            </dict>
            <key>jindutexiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1551},{61,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,34}}</string>
                <key>sourceSize</key>
                <string>{61,34}</string>
            </dict>
            <key>jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,2},{386,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,40}}</string>
                <key>sourceSize</key>
                <string>{386,40}</string>
            </dict>
            <key>kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,1533},{227,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,75}}</string>
                <key>sourceSize</key>
                <string>{227,75}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1477},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>lodingTU.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1194},{428,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,337}}</string>
                <key>sourceSize</key>
                <string>{428,337}</string>
            </dict>
            <key>meizhongjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,2},{405,613}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,613}}</string>
                <key>sourceSize</key>
                <string>{405,613}</string>
            </dict>
            <key>name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,1457},{237,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,37}}</string>
                <key>sourceSize</key>
                <string>{237,37}</string>
            </dict>
            <key>paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,759},{446,662}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,662}}</string>
                <key>sourceSize</key>
                <string>{446,662}</string>
            </dict>
            <key>picture2.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1423},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1457},{344,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,345}}</string>
                <key>sourceSize</key>
                <string>{344,345}</string>
            </dict>
            <key>shoujihao.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1672},{282,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,43}}</string>
                <key>sourceSize</key>
                <string>{282,43}</string>
            </dict>
            <key>texiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1533},{231,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,75}}</string>
                <key>sourceSize</key>
                <string>{231,75}</string>
            </dict>
            <key>tijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,390},{196,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,63}}</string>
                <key>sourceSize</key>
                <string>{196,63}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1610},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1610},{96,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,187}}</string>
                <key>sourceSize</key>
                <string>{96,187}</string>
            </dict>
            <key>wanzhengjindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2},{372,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,27}}</string>
                <key>sourceSize</key>
                <string>{372,27}</string>
            </dict>
            <key>xiala.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1533},{28,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,53}}</string>
                <key>sourceSize</key>
                <string>{28,53}</string>
            </dict>
            <key>xiaoxiaole.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1534},{426,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,272}}</string>
                <key>sourceSize</key>
                <string>{426,272}</string>
            </dict>
            <key>xiayibu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,1238},{196,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,64}}</string>
                <key>sourceSize</key>
                <string>{196,64}</string>
            </dict>
            <key>zaiwanyici.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1717},{196,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,99}}</string>
                <key>sourceSize</key>
                <string>{196,99}</string>
            </dict>
            <key>zhongjianganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,1040},{196,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,64}}</string>
                <key>sourceSize</key>
                <string>{196,64}</string>
            </dict>
            <key>zhongjiangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,657},{446,535}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,535}}</string>
                <key>sourceSize</key>
                <string>{446,535}</string>
            </dict>
            <key>zhongjiangxinzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{446,746}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,746}}</string>
                <key>sourceSize</key>
                <string>{446,746}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaoxiaole.png</string>
            <key>size</key>
            <string>{1832,1832}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8d9aa5c15be8e176adabca2085b6b1a$</string>
            <key>textureFileName</key>
            <string>xiaoxiaole.png</string>
        </dict>
    </dict>
</plist>
